Задание к уроку №6 "Обучение с учителем"

# Задание 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_boston

In [5]:
boston = load_boston()

In [6]:
type(boston)

sklearn.utils.Bunch

In [7]:
boston.keys()

dict_keys(['data', 'DESCR', 'target', 'feature_names', 'filename'])

In [8]:
data = boston.data

In [9]:
data.shape

(506, 13)

In [10]:
data

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [11]:
target = boston.target

In [14]:
feature_names = boston.feature_names

In [15]:
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [20]:
X = pd.DataFrame(data, columns=feature_names)

In [21]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [24]:
Y = pd.DataFrame(target, columns=['price'])

In [25]:
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [26]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
price    506 non-null float64
dtypes: float64(1)
memory usage: 4.0 KB

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state=42)

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
lr = LinearRegression()

In [32]:
lr.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
Y_pred = lr.predict(X_test)

In [38]:
check_test = pd.DataFrame({'y_test': Y_test['price'], 'y_pred': Y_pred.flatten()}, columns=['y_test', 'y_pred'])

In [39]:
check_test.head()

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [40]:
check_test['error'] = check_test['y_pred'] - check_test['y_test']

In [41]:
check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

In [42]:
rms = (check_test['error'] ** 2).mean()

In [43]:
rms

21.517444231177215

In [44]:
from sklearn.metrics import mean_squared_error

In [49]:
mean_squared_error(Y_test['price'], Y_pred)

21.517444231177215

In [50]:
np.abs(check_test['error']).mean()

3.1627098714574045

In [51]:
from sklearn.metrics import mean_absolute_error

In [52]:
mean_absolute_error(Y_test['price'], Y_pred)

3.1627098714574045

In [53]:
from sklearn.metrics import r2_score

In [70]:
r2_lr = r2_score(Y_test['price'], Y_pred)
r2_lr

0.7112260057484932

# Задание 2

In [55]:
from sklearn.ensemble import RandomForestRegressor

In [56]:
rfr = RandomForestRegressor(n_estimators = 1000, max_depth = 12, random_state = 42)

In [64]:
rfr.fit(X_train, Y_train.values[:,0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [65]:
Y_pred_rf = rfr.predict(X_test)

In [66]:
check_test_rf = pd.DataFrame({'y_test': Y_test['price'], 'y_pred': Y_pred_rf.flatten()}, columns=['y_test', 'y_pred'])

In [67]:
check_test_rf.head()

     y_test     y_pred
173    23.6  22.846138
274    32.4  31.156114
491    13.6  16.297226
72     22.8  23.821036
452    16.1  17.212148

In [68]:
r2_score(Y_test['price'], Y_pred_rf)

0.8749965273218174

In [71]:
r2_lr

0.7112260057484932

Модель RandomForestRegressor в данном случае оказалась точнее модели LinearRegression

# Задание 3

In [72]:
rfr?

In [74]:
fi = rfr.feature_importances_

In [75]:
fi

array([0.03211748, 0.00154999, 0.0070941 , 0.0011488 , 0.01436832,
       0.40270459, 0.01424477, 0.06403265, 0.00496762, 0.01169177,
       0.01808961, 0.0123114 , 0.41567892])

In [76]:
sum_fi = np.sum(fi)

In [77]:
sum_fi

0.9999999999999999

In [80]:
X_train.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [81]:
dfi = pd.DataFrame({'Feature': X_train.columns, 'Feature importances': fi})

In [95]:
dfi.nlargest(2, dfi.columns[1])

   Feature  Feature importances
12   LSTAT             0.415679
5       RM             0.402705